
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');

body {
	background-color: #000000;
}

h1 {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	font-weight: 400;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

p {
	font-family: 'Raleway', serif;
	color: #C3E4EA; /* Blue (lighter) */
	font-weight: 400;
	font-size: 22px;
	line-height: 135%;
}

#title-1 {
	color: #FDEF70; /* Yellow */
}

#title-2 {
	color: #629ED3; /* Blue (darker) */
}

#title-3 {
	color: #73BE48; /* Green */
}

#title-4 {
	color: #ED7D26; /* Orange */
}

/**
@font-face {
	font-family: in_rainbows, monospace;
	src : url(fgm.ttf);
}


.title {
	font-family: in_rainbows;
font-size: calc(112.5% + 1vw) ;
	position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    letter-spacing: 4px;
    margin: 0 auto;


    text-align: justify;
}

#first {
	color: #FDEF70;
}

#second {
	color: #629ED3;
}

#third {

	color: ;

}

#fourth {

	color: #73BE48;

}
#fifth {

	color: #E8BD3D;

}

#sixth {
	display: inline-block;;
	color: #EB3D28;

}

#seventh {

	color: #C3E4EA!important;

}



#eighth {
	color: #FDEF70;
}

#ninth {
	color: #629ED3;
}

#tenth {
	position: fixed;
	color: #ED7D26;
	top: 1%;
	left: 1.5%;
	font-family: in_rainbows;
	font-size: 20px;
	white-space: nowrap;
    letter-spacing: 4px;
}

#eleventh {
	position: fixed;
	top: 3.5%;
	left: 1.5%;
	color: #73BE48;
font-family: in_rainbows;
	font-size: 20px;
	white-space: nowrap;
    letter-spacing: 4px;
}


a:hover {
	opacity: 0.75;
}

a:link {
	text-decoration: none;
	color: #C3E4EA;
}

a:visited {
	text-decoration: none;
	color: #C3E4EA;
}



.title {

	top: 0px;

	font-family: in_rainbows;
	font-size: 18px;
	position: fixed;

}

.links {
	top: 0px;
	color: inherit;
	font-family: in_rainbows;
	font-size: 18px;
	position: fixed;
	text-decoration: none;
}

a {
	text-align: right!important;
	float: right;
	text-decoration: none;
	letter-spacing: 4px!important;
	white-space: nowrap!important;
}

.links a:hover {
	opacity: 0.75;
}

a:link {
	text-decoration: none;
	color: #C3E4EA;
}

a:visited {
	text-decoration: none;
	color: #C3E4EA;
}

#first {
	color: #FDEF70;
    position: fixed;
    top: 5%;
    left: 81%;
    transform: translate(-50%, -50%);
}

#second {
	display: none;
	position: fixed;
	color: #629ED3;
    top: 7.5%;
    left: 81%;
    transform: translate(-50%, -50%);
}

#third {
	display: none;
	color: #ED7D26;
    position: fixed;
    top: 10%;
    left: 81%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}

#fourth {
	display: none;
	color: #73BE48;
    position: fixed;
    top: 12.5%;
    left: 81%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}

#fifth {
	display: none;
	color: #E8BD3D;
    position: fixed;
    top: 15%;
    left: 81%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}

#sixth {
	display: none;
	color: #EB3D28;
    position: fixed;
    top: 17.5%;
    left: 81%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}

#seventh {
	display: none;
	color: #C3E4EA!important;
    position: fixed;
    text-decoration: none;
    top: 20%;
    left: 76.85%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}


**/