
canvas {
	width: 100%; 
	height: 100%;
	background-color: #FFFFFF;
}

body {
	background-color: black;
	color: black;
	margin: 0px;
	overflow: hidden;
}


@font-face {
	font-family: in_rainbows;
	src : url(fgm.ttf);
}


.title {
	font-family: in_rainbows;
	font-size: 72px;
	position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    letter-spacing: 4px;
    margin: 0 auto;
}

#first {
	color: #FDEF70;
}

#second {
	color: #629ED3;
}

#third {

	color: #ED7D26;

}

#fourth {

	color: #73BE48;

}
#fifth {
	
	color: #E8BD3D;
    
} 

#sixth {
	
	color: #EB3D28;
    
}

#seventh {
	
	color: #C3E4EA
    
}


#eighth {
	color: #FDEF70;
}

#ninth {
	color: #629ED3;
}

#tenth {

	color: #ED7D26;

}

#eleventh {

	color: #73BE48;

}

/**
.title {

	top: 0px;

	font-family: in_rainbows;
	font-size: 18px;
	position: fixed;

}

.links {
	top: 0px;
	color: inherit;
	font-family: in_rainbows;
	font-size: 18px;
	position: fixed;
	text-decoration: none;
}

a {
	text-align: right!important;
	float: right;
	text-decoration: none;
	letter-spacing: 4px!important;
	white-space: nowrap!important;
}

.links a:hover {
	opacity: 0.75;
}

a:link {
	text-decoration: none;
	color: #C3E4EA;
}

a:visited {
	text-decoration: none;
	color: #C3E4EA;
}

#first {
	color: #FDEF70;
    position: fixed;
    top: 5%;
    left: 81%;
    transform: translate(-50%, -50%);
}

#second {
	display: none;
	position: fixed;
	color: #629ED3;
    top: 7.5%;
    left: 81%;
    transform: translate(-50%, -50%);
}

#third {
	display: none;
	color: #ED7D26;
    position: fixed;
    top: 10%;
    left: 81%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}

#fourth {
	display: none;
	color: #73BE48;
    position: fixed;
    top: 12.5%;
    left: 81%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}

#fifth {
	display: none;
	color: #E8BD3D;
    position: fixed;
    top: 15%;
    left: 81%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
} 

#sixth {
	display: none;
	color: #EB3D28;
    position: fixed;
    top: 17.5%;
    left: 81%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}

#seventh {
	display: none;
	color: #C3E4EA!important;
    position: fixed;
    text-decoration: none;
    top: 20%;
    left: 76.85%;
    transform: translate(-50%, -50%);
	letter-spacing: 2px;
}


**/